<!-- <p-table #dt [value]="lessons">
    <ng-template pTemplate="header">
        <tr>
            <th>Day</th>
            <th>Hour</th>
            <th>Class</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th style="width: 8em; text-align: center;">
                <a [routerLink]="'/lessons/new'">
                    <button pButton type="button" icon="pi pi-plus"></button>
                </a>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lesson>
        <tr>
            
            <td>{{lesson.lessonTime.dayOfWeek}}</td>
            <td>{{lesson.lessonTime.hour}}</td>
            <td>{{lesson.grade.name}}</td>
            <td>{{lesson.subject.name}}</td>
            <td>{{(lesson.teacher.gender == "FEMALE"? "Ms. " : "Mr. " )+ lesson.teacher.lastName}}</td>
            <td style="text-align: center;">
                <button class="justify-content-center" (click)="lessonDetails(lesson)" pButton type="button"
                    icon="pi pi-search"></button>
            </td>
            <td><app-lesson-grid [lesson]=lesson></app-lesson-grid></td>
        </tr>
    </ng-template>
</p-table> -->
<p-dropdown [options]="allGrades" [(ngModel)]="class" placeholder="Choose Grade" [showClear]="true"
    (onChange)="onGradeChange($event)">
</p-dropdown>

<div class="d-flex justify-content-center mt-5">
    <div class="row container" style="max-width: 1200px;">
        <div class="card">
            <div class="card"> Houres </div>
            <div *ngFor="let hour of houres" class="card subjects" style=" text-align: center;">
                <p class="mt-5">{{hour}}</p>
            </div>
        </div>

        <div *ngFor="let day of days" class="card">
            <div class="card" style="text-align: center;"> {{day}} </div>
            <div *ngFor="let hour of houres">
                <app-drop-box [config]="{day:day, hour:hour, class:class}"></app-drop-box>
            </div>
        </div>
    </div>
</div>