<!-- <p-table #dt [value]="lessons">
    <ng-template pTemplate="header">
        <tr>
            <th>Day</th>
            <th>Hour</th>
            <th>Class</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th style="width: 8em; text-align: center;">
                <a [routerLink]="'/lessons/new'">
                    <button pButton type="button" icon="pi pi-plus"></button>
                </a>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-lesson>
        <tr>
            
            <td>{{lesson.lessonTime.dayOfWeek}}</td>
            <td>{{lesson.lessonTime.hour}}</td>
            <td>{{lesson.grade.name}}</td>
            <td>{{lesson.subject.name}}</td>
            <td>{{(lesson.teacher.gender == "FEMALE"? "Ms. " : "Mr. " )+ lesson.teacher.lastName}}</td>
            <td style="text-align: center;">
                <button class="justify-content-center" (click)="lessonDetails(lesson)" pButton type="button"
                    icon="pi pi-search"></button>
            </td>
            <td><app-lesson-grid [lesson]=lesson></app-lesson-grid></td>
        </tr>
    </ng-template>
</p-table> -->


<div class="mt-5 container">
    <div class="row">
        <div class="col d-flex ">
            <h3>{{'choose-a-class' | translate}}: </h3>
            <p-dropdown [options]="allGrades" [(ngModel)]="class" placeholder="Choose Class" [showClear]="true"
                class="ml-3" (onChange)="onGradeChange($event)" [group]="true">
            </p-dropdown>
        </div>
        <div class="col d-flex ">
            <h3>{{'choose-a-teacher' | translate}}: </h3>
            <p-dropdown [options]="allTeachers" [(ngModel)]="teacher" placeholder="Choose Teacher" [showClear]="true"
                class="ml-3" (onChange)="onTeacherChange($event)" optionLabel="fullName" inputId="_links.self.href">
            </p-dropdown>
        </div>

    </div>
</div>
<div class="row">
    <div class="d-flex justify-content-center mt-5 container col ml-5 mr-5" *ngIf="(teacher || class)">
        <div style="max-width: 1200px; min-width: 1100px;" class="mr-5">
            <div class="row">
                <div class="p-2 card" style="width: 75px; text-align: center;"> {{'houre' | translate}} </div>
                <div *ngFor="let day of days" class="p-2 card" style="min-width: 210px; text-align: center;">
                    {{day | translate}}
                </div>
            </div>
            <div class="row" *ngIf="teacher?.daysWorking?.length<5 && !class">
                <div class="p-2 card" style="width: 75px; text-align: center;" >
                    {{'working' | translate}} </div>
                <div *ngFor="let day of days" class="p-2 card" style="min-width: 210px; text-align: center;">
                    {{teacher.daysWorking.includes(day.toUpperCase())? ' ✅': '❌'}}
                </div>
            </div>

            <div *ngFor="let hour of houres">
                <div class="row" style="min-height: 85px;">
                    <div class="card" style=" max-width: 210px;width: 75px; text-align: center;"> {{hour}} </div>
                    <div *ngFor="let day of days" class="card" style=" max-width: 210px;">
                        <app-drop-box
                            [config]="{day:day, hour:hour, class:class, teacher: teacher, allowEdit: allowEdit}">
                        </app-drop-box>
                    </div>
                </div>
                <div *ngIf="hour%2 === 0" class="row d-flex justify-content-center card" style="text-align: center;">
                    <div class="card" style="max-width: 210px; width: 75px; text-align: center;">
                        {{'break' | translate}} </div>
                </div>
            </div>
        </div>
        <div>

            <button
                (click)="hideDetails = !hideDetails">{{(hideDetails ? 'hide-details'  : 'show-details')| translate}}</button>

            <div class="col card" *ngIf="hideDetails">
                <app-lessons-details [model]="teacher ? 't': 'c'"></app-lessons-details>
            </div>
        </div>

    </div>
</div>