<p-table #dt [value]="teachers">
    <ng-template pTemplate="header">
        <tr>
            <th>{{'first-name' | translate}}
                <input pInputText type="text" placeholder="Contains" class="ui-column-filter" style="width: 100%;"
                    (input)="dt.filter($event.target.value, 'firstName', 'contains')">
            </th>
            <th>{{'last-name' | translate}}
                <input pInputText type="text" placeholder="Contains" class="ui-column-filter" style="width: 100%;"
                    (input)="dt.filter($event.target.value, 'lastName', 'contains')">
            </th>
            <th style="width: 8em; text-align: center;">
                <a [routerLink]="'/teachers/new'" *ngIf="allowEdit">
                    <button pButton type="button" icon="pi pi-plus"></button>
                </a>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-teacher>
        <tr>
            <td>{{teacher.firstName}}</td>
            <td>{{teacher.lastName}}</td>
            <td style="text-align: center;">
                <button class="justify-content-center" (click)="teacherDetails(teacher)" pButton type="button"
                    icon="pi pi-search"></button>
            </td>
        </tr>
    </ng-template>
</p-table>