<div class="card pt-1" [appDraggable]="{data:lesson}" *ngIf="!editMode" (dblclick)="onClick()">
    <div class="d-flex mb-1 col">
        <span class="pt-1 pb-1" style="min-width: 75px;">{{'subject' | translate}}:</span>
        <div class="card p-1 d-block w-100" style="text-align: center;"> {{lesson.subject.name}}</div>
    </div>
    <div class="d-flex mb-1 col" *ngIf="!config.teacher">
        <span class="pt-1 pb-1" style="min-width: 75px;">{{'teacher' | translate}}:</span>
        <div class="card p-1 d-block w-100" style="text-align: center;"> {{lesson.teacher.firstName}} {{lesson.teacher.lastName}}</div>
    </div>
    <div class="d-flex mb-1 col" *ngIf="!config.class">
        <span class="pt-1 pb-1" style="min-width: 75px;">{{'class' | translate}}:</span>
        <div class="card p-1 d-block w-100" style="text-align: center;"> {{lesson.grade.name}}</div>
    </div>
</div>
<div class="card" style="min-width: 140px;min-height: 80px;"
    *ngIf="editMode">
    <form [formGroup]="lessonForm" (ngSubmit)="onSubmit()" class="container">
        <div>
            <h6>Subject:</h6>
            <p-dropdown [options]="subjectOptions" formControlName="subject" placeholder="Choose Subject"
                [showClear]="true" (onChange)="subjectChange($event)" optionLabel="name" dataKey="id">
            </p-dropdown>
        </div>
        <div *ngIf="!config.teacher">
            <h6>Teacher:</h6>
            <p-dropdown [options]="teacherOptions" formControlName="teacher" placeholder="Choose Teacher"
                [showClear]="true" (onChange)="teacherChanged($event)" optionLabel="optionLable" dataKey="id">
            </p-dropdown>
        </div>
        <div *ngIf="!config.class">
            <h6>Class:</h6>
            <p-dropdown [options]="allClasses" formControlName="grade" placeholder="Choose Class"
                [showClear]="true" optionLabel="name" dataKey="name">
            </p-dropdown>
        </div>
        <div class="container d-flex justify-content-center m-1">
            <button [disabled]="!lessonForm.valid" pbutton>Save</button>
        </div>
    </form>
</div>