<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="''">{{'header.header' | translate }}</a>

        <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
            &#9776;
        </button>

        <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
            <ul ngbNav class="navbar-nav">
                <li ngbNavItem>
                    <a ngbNavLink routerLinkActive="active" *ngIf="isAuthenticated && (isAdmin() || isTeacher())"
                        [routerLink]="[ 'classes' ]" [routerLinkActiveOptions]="{exact: true}"(click)="isMenuCollapsed = true">{{'classes' | translate }}</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink routerLinkActive="active" *ngIf="isAuthenticated && (isAdmin() || isTeacher())"
                        [routerLink]="['students']" (click)="isMenuCollapsed = true">{{'students' | translate }}</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink routerLinkActive="active" *ngIf="isAuthenticated && (isAdmin() || isTeacher())"
                        [routerLink]="['teachers']" (click)="isMenuCollapsed = true">{{'teachers' | translate }}</a>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink routerLinkActive="active"
                        *ngIf="isAuthenticated && (isAdmin() || isTeacher() || isStudent())" [routerLink]="['lessons']"
                        (click)="isMenuCollapsed = true">{{'lessons' | translate }}</a>
                </li>
                <li ngbNavItem ngbDropdown class="nav-item">
                    <a (click)="false && isMenuCollapsed = true" class="nav-link" ngbDropdownToggle
                        *ngIf="isAuthenticated && (isAdmin())">{{'substitutions' | translate }}</a>
                    <div ngbDropdownMenu>
                        <a ngbDropdownItem [routerLink]="'substitutions'" routerLinkActive="active"
                            [routerLinkActiveOptions]="{exact: true}"
                            class="dropdown-item">{{'manage' | translate }}</a>
                        <a ngbDropdownItem [routerLink]="'substitutions/plan'" routerLinkActive="active"
                            class="dropdown-item">{{'plan' | translate }}</a>
                    </div>
                </li>

            </ul>

            <ul ngbNav class="navbar-nav ml-auto">
                <li ngbDropdown class="nav-item">
                    <a (click)="false" class="nav-link" ngbDropdownToggle *ngIf="isAuthenticated">{{user.username}}</a>
                    <div ngbDropdownMenu>
                        <a ngbDropdownItem [routerLink]="'auth'" class="dropdown-item"
                            (click)="onLogout()">{{'logout' | translate }}</a>
                        <a ngbDropdownItem [routerLink]="'profile'" class="dropdown-item">{{'profile' | translate }}</a>
                    </div>
                </li>
                <li ngbNavItem>
                    <a ngbNavLink routerLinkActive="active" *ngIf="!isAuthenticated" [routerLink]="'auth'"
                        (click)="isMenuCollapsed = true">{{'login' | translate }}</a>
                </li>
                <li ngNavItem>
                    <div ngbDropdown>
                        <a id="chooseLang" (click)="false" class="nav-link"
                            ngbDropdownToggle>{{getCurrentLang() ? 'Lang (' + getCurrentLang() + ')': 'Lang'}}
                        </a>
                        <div ngbDropdownMenu aria-labelledby="chooseLang">
                            <ng-container *ngFor="let language of getLangs()">
                                <a ngbDropdownItem *ngIf="language != getCurrentLang()"
                                    (click)="switchLang(language)">{{language}}</a>
                            </ng-container>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<p-toast></p-toast>