<div class="d-flex justify-content-center mt-5">
    <!-- <div class="p-grid ml-2">
        <div class="d-flex justify-content-center mt-5 ml-2 mr-2 p-col-2 card"
            style="min-width: 250px; padding-left: 1em;" *ngFor="let leaveDay of leaveDays">
            <app-lesson-instance-list [person]="leaveDay.person" [changeDateHeader]="flase" [subLessonList]="true">
            </app-lesson-instance-list>
        </div>
    </div> -->
    <p-carousel [value]="leaveDays" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <p-header>
            <h3>Vertretungsplan Für: {{date.toDateString()}}</h3>
        </p-header>
        <ng-template let-leaveDay pTemplate="item">

            <div *ngFor="let hour of houres">
                <div class="row" style="min-height: 85px;">
                    <div class="card ml-3" style=" max-width: 210px;width: 25px; text-align: center;"> {{hour}} </div>
                    <app-lesson-instance [config]="{date:date, hour:hour, class:class, person: leaveDay.person}" class="col">
                    </app-lesson-instance>
                </div>
                <div *ngIf="hour%2 === 0" class="row d-flex justify-content-center m-1 card"
                    style="text-align: center;">
                    {{'break' | translate}}
                </div>
            </div>


        </ng-template>
    </p-carousel>

</div>