<div class="d-flex justify-content-center mt-2">
    <p-carousel [value]="leaveDays" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" [circular]="true"
        [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <p-header>
            <h3>Vertretungsplan für: {{date.toDateString()}}</h3>
        </p-header>
        <ng-template let-leaveDay pTemplate="item">
            <app-substitutions-plan-list [leaveDay]="leaveDay"></app-substitutions-plan-list>
        </ng-template>
    </p-carousel>

</div>