<p>home works!</p>

<div class="row container">
    <div class="card">
        <div class="card"> Houres </div>
        <div *ngFor="let hour of houres" class="card subjects">
            {{hour}}
        </div>
    </div>

    <div *ngFor="let day of days">
        <div class="card"> {{day}} </div>
        <div id="{{day}}-{{hour}}"*ngFor="let hour of houres" class="card subjects"   (drop)="onDrop($event, day,hour)" (dragover)="onDragOver($event)">
            Drop Here
        </div>
    </div>

    

    <div class="card">
        <div class="card"> Drag </div>
        <div *ngFor="let hour of houres" class="card subjects">
            <div draggable="true">
                Empty
            </div>
        </div>
    </div>




</div>