<div class="card" (dblclick)="editMode = !editMode" *ngIf="lessonInstance.id && !editMode" style="width: 150px;">
    <p>{{'class' | translate }}: {{lessonInstance.grade.name}}</p>
    <p>{{'subject' | translate }}: {{lessonInstance.subject.name}}</p>
    <button mat-raised-button (click)="openDialog()">Edit</button>
</div>
<div class="card" *ngIf="!lessonInstance.id && !editMode">
    <p class="m-2">{{'no-class' | translate }}</p>
</div>

<div class="card" *ngIf="editMode">
    <form [formGroup]="lessonInstanceForm" (ngSubmit)="onSubmit()" class="container">
        <p>{{'class' | translate }}: {{lessonInstance.grade.name}}</p>
        <p>{{'subject' | translate }}: {{lessonInstance.subject.name}}</p>
        <textarea pInputTextarea formControlName="info"></textarea>
        <button type="submit">{{'save' | translate }}</button>
    </form>
</div>