<div class="card d-flex justify-content-center" style="text-align: center; min-width: 400px;">
    <h4>{{leaveDay.person.gender === 'MALE'? ('mr' | translate) : ('mrs' | translate)}} {{leaveDay.person.firstName.charAt(0) + '. ' + leaveDay.person.lastName}}</h4>
</div>
<div *ngIf="subLessons">
    <div *ngFor="let hour of houres">
        <div class="row" style="min-height: 85px;">
            <div class="card ml-3" style=" max-width: 210px;width: 25px; text-align: center;"> {{hour}} </div>
            <div class="card col mr-3">

                <app-substitute-plan-list-part [subLesson]="getSubLesson(hour)" ></app-substitute-plan-list-part>

            </div>
        </div>
    </div>
</div>